body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer-layout {
    display: flex;
    justify-content: center;
}

.footer {
  border: 0.5px solid lightgrey;
  margin: 2rem 1rem 0 1rem;
}

.header h1 {
  font-weight: 700;
  margin-left: 1.5rem;
}

.header a {
  margin-right: 1.5rem;
  font-weight: 400;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 30rem;
}